.spinner {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  background: #f0f8ff8a;

  .ic-loading {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    
    div {
      margin-bottom: 8px;
    }
  }

  &.active {
    display: block;
  }
}
