.header-wrapper {
  display: flex;
  margin-bottom: 1rem;

  .user-info {
    width: 60%;
    display: flex;
    align-items: center;
    .user-image {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      margin-right: 18px;
    }

    .user-name {
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .balance-info {
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: bold;

    .balance-headline {
      flex: 1;
      font-size: 1rem;
      color: #2f4858;
      border-radius: 50%;
    }

    .balance-ammount {
      font-size: 0.875rem;
      width: 35px;
      color: #04ae34;
      text-transform: capitalize;
    }
  }
}

.btn-loading {
  margin-top: 10px;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    min-width: 130px;
    padding: 0 0.625rem;
    border: none;
    background-color: #04ae34;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;

    .icon-send {
      height: 25px;
      width: 25px;
      float: left;
      background-image: url("../../images/send.png");
      background-size: contain;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .icon-loading {
      height: 25px;
      width: 25px;
      float: left;
      background-image: url("../../images/loading.png");
      background-size: contain;
      animation: spin 1s linear infinite;
    }
  }
}
